<template>
  <footer class="footer">
    <h3 class="footer__keep-me-updated">Stay Connected!</h3>


    <div class="footer__links">
      <a href="https://discord.gg/HjHBYkfSfJ">
        <img src="@/assets/images/discord_icon.png" alt="Discord">
        <h1>Discord</h1>
      </a>
      <a href="https://hedgeforhumanity.medium.com">
        <img src="@/assets/images/medium_icon.png"  alt="Medium">
        <h1>Medium</h1>
      </a>
      <a href="https://twitter.com/H4HFund">
        <img src="@/assets/images/twitter_icon.png" alt="Twitter">
        <h1>Twitter</h1>
      </a>
      <a href="https://t.me/Manna_Currency">
        <img src="@/assets/images/telegram_icon.png" alt="Telegram">
        <h1>Telegram</h1>
      </a>
      
    </div>
    <div class="footer__info">
      <div class="footer__info__hedge-for-humanity">
        <img
          src="@/assets/images/h.png"
          alt=""
          class="footer__info__hedge-for-humanity__image"
        />
        <span class="footer__info__hedge-for-humanity__text"
          ><h3>Hedge for<br />Humanity</h3></span
        >
      </div>
    </div>
    <p class="footer__rights">All rights reserved @ 2020 Hedge for Humanity</p>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>
