<template>
  <header class="header">
    <div class="header__logo">
      <img class="header__logo__image" src="@/assets/images/logo.png" alt="" />
      <h2 class="header__logo__name">mannabase</h2>
    </div>
    <span class="header__about">
      <div @click="goToAbout()" class="gradient-border btn btn-orange">
        about
      </div>
    </span>

    <div class="header__center-logo">
      <img
        src="@/assets/images/logo-gradient.png"
        alt=""
        class="header__center-logo__image"
      />
      <h1 class="header__center-logo__name">manna</h1>
      <p class="header__center-logo__motto">
        An unexpected gratuitous benefit.
      </p>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {};
  },
  methods: {
    goToAbout() {
      window.location.href = "https://www.hedgeforhumanity.org/manna/";
    },
  },
};
</script>
