.card {
  padding: $base-card-padding;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 10;
  position: sticky;
  &__header {
    color: $thirdinary-color;
    font-size: 20px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    margin-left: 0;
  }
  &__one {
    min-width: 280px;
  }
  &__two {
    min-width: 125px;
  }
  &__three {
    min-width: 120px;
    font-size: 12px;
  }
  &__arrow {
    width: 10px;
    height: 26.5px;
  }
  &__input {
    height: 33px;
    border: none;
    width: 100%;
    margin: 0 -10px;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    color: $secondary-color;
    &:disabled {
      background-image: $button-background-color-gradient-disabled !important;
    }
    &::placeholder {
      color: #00000060;
    }
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
  &__action-button {
    font-weight: 500;
    width: 290px;
  }
  &__link {
    color: $thirdinary-color;
    font-size: 16px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &--big {
      margin: 0.3rem 0;
      color: $primary-color;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__barcode {
    height: 125px;
    width: 125px;
    background-color: white;
    &>div {
      height: 100px;
      width: 100px;
    }
  }
  &__center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__desc {
    color: $thirdinary-color;
    font-size: 14px;
    text-align: center;
    width: 400px;
    margin: 40px 0;
  }
  &__item {
    margin: 5px 0;
    &--with-link {
      margin-bottom: -1px;
    }
  }
  &__email-btn {
    margin-bottom: 40px;
  }
}

.loader {
  margin: 0 0.4rem;
}

.green {
  color: rgb(3, 97, 0);
}

.red {
  color: rgb(141, 0, 0);
}

.code-msg {
  word-wrap: break-word !important;
  display: inline-block;
  margin: 0.8rem 0;
  font-weight: 500;
  font-size: 0.8rem;
}

.disable-btn {
  background-image: $button-background-color-gradient-disabled !important;
  &:hover {
    cursor: not-allowed;
  }
}